<div class="filter-container">
	<div *ngFor="let category of categories" class="filter-div">
        <button mat-raised-button color="primary">{{category.name | uppercase}}</button>
    </div>
</div>
