<mat-card class="add-note-card">
    <button mat-icon-button (click)="addNote()"><mat-icon>add</mat-icon></button>
</mat-card>
<br><br><br>
<p [style.color]='titleColor'>{{title}}</p><br>
<button (click)='setTitle()'>Set title</button><br>
<mat-form-field>
<p [style.background-color]='TitleBackgroundColor'>{{title}}</p>
<button (click)='setbackground()'>Set background</button>
 