<h1>Add a note </h1>
<form class="add-note-form">
    <mat-form-field>
    <input
        matInput
        name="inputNote" [(ngModel)]='title'/>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput  name="inputNote" [(ngModel)]='description'></textarea>
    </mat-form-field>
    <button mat-button>Add</button>
</form>
  